<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/vendors/css/bootstrap.css">
    <script src="/vendors/js/jquery.js"></script>
    <script src="/customs/js/index.js"></script>
</head>
<body>
    <%- include("partials/header") %>
    <h1 class="text-primary">Homepage</h1>
</body>
</html>
