<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/vendors/css/bootstrap.css">
    <script src="/vendors/js/jquery.js"></script>
    <script src="/customs/js/index.js"></script>
    <style>
        .login-container {
            max-width: 300px;
            margin: 100px auto;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h4 class="mb-4">Sign in to continue.</h4>
        <form action="/login" method="POST">
            <div class="mb-3">
                <input
                    type="text"
                    name="username"
                    class="form-control"
                    placeholder="Username"
                    value="user"
                >
            </div>
            <div class="mb-3">
                <input 
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                    value="password"
                >
                <div class="text-danger mt-1"><%= error %></div>
            </div>
            <button type="submit" class="btn btn-dark w-100">SIGN IN</button>
        </form>
    </div>
</body>
</html>
